<table id="inventoryTable" class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Location</th>
      <th>Last Purchase</th>
      <th>Use By</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach((row) => { %>
    <tr>
      <td><%= row.Name %></td>
      <td><%= row.Quantity %></td>
      <td><%= row.Category %></td>
      <td><%= row.Location %></td>
      <td><%= row.Last_Purchase %></td>
      <td><%= row.Use_By %></td>
      <td><%= row.Note %></td>
      <td>
        <button data-bs-toggle="modal" data-bs-target="#editItemModal" class="border-0 bg-white text-primary">
          <i class="bi bi-pencil-square" style="font-size: 24px" data-id="<%= row.item_id %>"></i>
        </button>
        <button data-bs-toggle="modal" data-bs-target="#itemInfoModal" class="border-0 bg-white text-secondary">
          <i class="bi bi-info-circle-fill" style="font-size: 24px"></i>
        </button>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<!-- Edit Modal -->
<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editItemLabel">Edit Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="p-2 p-md-8 rounded-3" action="addItem" method="post">
          <div class="form-floating mb-3">
            <input type="name" class="form-control" name="name" id="name" placeholder="Name" required />
            <label for="name">Item Name</label>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" name="qty" id="qty" placeholder="Quantity" />
                <label for="qty">Quantity</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3 col">
                <input type="text" class="form-control" name="uom" id="uom" placeholder="Unit of Measurement" />
                <label for="uom">Unit of Measurement</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <select type="form-select" class="form-control" name="category" id="category" placeholder="Category">
              <option value="Spice">Spice</option>
              <option value="Dry Good">Dry Good</option>
              <option value="Meat">Meat</option>
              <option value="Seafood">Seafood</option>
              <option value="Vegetable">Vegetable</option>
              <option value="Fruit">Fruit</option>
              <option value="Dairy">Dairy</option>
            </select>
            <label for="category">Category</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="location" id="location" placeholder="Location" required />
            <label for="location">Location</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control" name="use_by" id="use_by" placeholder="Use By Date" required />
            <label for="use_by">Use By Date</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              type="text"
              class="form-control"
              name="note"
              id="note"
              placeholder="Notes:"
              rows="3"
              style="height: 100px"
            ></textarea>
            <label for="note">Notes</label>
          </div>
          <div class="modal-footer border-0 p-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="#editModal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="#itemInfoModal">Add to Inventory</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Information Modal -->
<div class="modal fade" id="itemInfoModal" tabindex="-1" aria-labelledby="itemInfoLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="itemInfoLable">Item Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Item ID:</p>
        <p class="lead">Category ID:</p>
        <p class="lead">Location:</p>
        <p class="lead">Name:</p>
        <p class="lead">Quantity:</p>
        <p class="lead">UOM:</p>
        <p class="lead">Last Purchaced:</p>
        <p class="lead">Use By:</p>
        <p class="lead">Note:</p>

        <div class="modal-footer border-0 p-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
