<div class="mt-1"><%- include('./partials/message.ejs') %></div>
<table id="inventoryTable" class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Category</th>
      <th>Location</th>
      <th>Last Purchase</th>
      <th>Use By</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach((row) => { %>
    <tr>
      <td><%= row.Name %></td>
      <td><%= row.Quantity %></td>
      <td><%= row.Category %></td>
      <td><%= row.Location %></td>
      <td><%= row.Last_Purchase %></td>
      <td><%= row.Use_By %></td>
      <td><%= row.Note %></td>
      <td style="display: flex">
        <button
          data-bs-toggle="modal"
          data-bs-target="#editItemModal"
          class="border-0 bg-white text-primary mx-1"
          role="button"
          onclick="setFormData('<%= row.Name %>','<%= row.qty %>','<%= row.uom %>', '<%= row.Category %>', '<%= row.Location %>','<%= row.Use_By %>', '<%= row.Note %>'); setEditAction('<%= row.Item_ID %>')"
        >
          <i class="bi bi-pencil-square" style="font-size: 24px"></i>
        </button>
        <button
          data-bs-toggle="modal"
          data-bs-target="#deleteItemModal"
          id="delete-modal-btn"
          class="border-0 bg-white text-danger mx-1"
          onclick="setDeleteAction('<%= row.Item_ID %>')"
        >
          <i class="bi bi-trash-fill" style="font-size: 24px"></i>
        </button>
        <!-- Delete Modal -->
        <div
          class="modal fade delete-modal"
          id="deleteItemModal"
          tabindex="-1"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure you want to delete this item?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="post" id="delete-form">
                <div class="modal-content border-0 p-0 align-items-center">
                  <button type="submit" class="btn btn-secondary m-2 w-50" data-bs-dismiss="modal">Yes</button>
                  <button
                    onclick="console.log('<%= row.Item_ID %>')"
                    type="button"
                    class="btn btn-primary m-2 w-50"
                    data-bs-dismiss="modal"
                  >
                    No
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <!-- Edit Modal -->
    <div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editItemLabel">Edit Item</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="p-2 p-md-8 rounded-3" id="edit-form" method="post">
              <div class="form-floating mb-3">
                <input type="name" class="form-control" name="name" id="editName" placeholder="Name" required />
                <label for="name">Item Name</label>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="qty" id="editQty" placeholder="Quantity" />
                    <label for="qty">Quantity</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" name="uom" id="editUom" placeholder="Unit of Measurement" />
                    <label for="uom">Unit of Measurement</label>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <select type="form-select" class="form-control" name="category" id="category" placeholder="Category">
                  <option id="Spice" value="Spice">Spice</option>
                  <option id="DryGood" value="Dry Good">Dry Good</option>
                  <option id="Meat" value="Meat">Meat</option>
                  <option id="Seafood" value="Seafood">Seafood</option>
                  <option id="Vegetable" value="Vegetable">Vegetable</option>
                  <option id="Fruit" value="Fruit">Fruit</option>
                  <option id="Dairy" value="Dairy">Dairy</option>
                </select>
                <label for="category">Category</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="location"
                  id="editLocation"
                  placeholder="Location"
                  required
                />
                <label for="location">Location</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  name="use_by"
                  id="editUseBy"
                  placeholder="Use By Date"
                  required
                />
                <label for="use_by">Use By Date</label>
              </div>
              <div class="form-floating mb-3">
                <textarea
                  type="text"
                  class="form-control"
                  name="note"
                  id="editNote"
                  placeholder="Notes:"
                  rows="3"
                  style="height: 100px"
                >
                </textarea>
                <label for="note">Notes</label>
              </div>
              <div class="modal-footer border-0 p-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="#itemInfoModal">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% }); %>
  </tbody>
</table>

<script>
  $('#editItemModal').on('hidden.bs.modal', function () {
    document.getElementById('Spice').removeAttribute('selected');
    document.getElementById('DryGood').removeAttribute('selected');
    document.getElementById('Meat').removeAttribute('selected');
    document.getElementById('Seafood').removeAttribute('selected');
    document.getElementById('Vegetable').removeAttribute('selected');
    document.getElementById('Fruit').removeAttribute('selected');
    document.getElementById('Dairy').removeAttribute('selected');
  });
  async function setFormData(name, qty, uom, category, location, date, note) {
    let selected = category.split(' ').join('');
    document.getElementById('editName').setAttribute('value', name);
    document.getElementById('editQty').setAttribute('value', qty);
    document.getElementById('editUom').setAttribute('value', uom);
    await document.getElementById(selected).setAttribute('selected', '');
    document.getElementById('editLocation').setAttribute('value', location);
    document.getElementById('editUseBy').setAttribute('value', date);
    document.getElementById('editNote').innerHTML = note;
  }
  function setDeleteAction(id) {
    document.getElementById('delete-form').setAttribute('action', `/deleteItem/${id}`);
  }
  function setEditAction(id) {
    document.getElementById('edit-form').setAttribute('action', `/editItem/${id}`);
  }
</script>
