<h1>Inventory</h1>
<p class="lead mb-3">Name: <%= user.name %></p>
<p class="lead mb-3">Date: <%= user.username %></p>
<p class="lead mb-3">Email: <%= user.email %></p>
<p class="lead mb-3">ID: <%= user.date %></p>
<p class="lead mb-3">ID: <%= user.id %></p>
<a href="/logout" class="btn btn-secondary">Logout</a>
