<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="itemContainer" class="container">
      <h2>Course List</h2>
      <ul class="collection with-header">
        <% if(course.length > 0) { course.forEach(course => { %>
        <li class="collection-item">
          <div>
            <strong>ID:</strong> <%= course.course_ID %> <br /><strong>Description:</strong> <%= course.course_desc %>
            <a href="/courses/<%= course._id %>" class="secondary-content">
              <i class="material-icons">preview</i>
            </a>
            <a href="#" class="secondary-content">
              <i class="material-icons modal-trigger" href="#edit_course_modal" data-id="<%= course._id %>">edit</i>
              <i class="material-icons" data-id="<%= course._id %>">delete</i>
            </a>
          </div>
        </li>
        <% }); } %>
      </ul>
    </div>
    <div id="edit_course_modal" class="modal">
      <div class="modal-content">
        <h4>Edit Course</h4>
        <form id="edit_form" action="">
          <input type="text" name="description" placeholder="Course Description" />
          <input type="number" name="units" placeholder="Course Units" />
          <input type="text" name="remarks" placeholder="Course Remarks" />
          <button class="btn">Update</button>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });

      edit_form.onsubmit = async function (e) {
        e.preventDefault();
        let data = new FormData(edit_form);
        for (var pair of data.entries()) {
          console.log(pair[0] + ',' + pair[1]);
        }
        let response = await fetch(`/courses/${updateId}`, {
          method: 'put',
          body: new URLSearchParams(data),
          headers: new Headers({ 'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8' }),
        });
        console.log('RESPONSE:' + response);
        let result = await response.json();
        edit_form.reset();
        window.location.reload();
        alert(result.msg);
      };

      itemContainer.onclick = function (e) {
        console.log('e.target.textContent', 'e.target.textContent');
        if (e.target.textContent === 'edit') {
          updateId = e.target.getAttribute('data-id');
          console.log(updateId);
        }
      };
    </script>
  </body>
</html>
