<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <h2>Staff List</h2>
      <ul class="collection with-header">
        <% if(staff.length > 0) { staff.forEach(staff => { %>
        <li class="collection-item">
          <div>
            <strong>ID:</strong> <%= staff.staff_ID %> <br /><strong>NAME:</strong> <%= staff.fname %>
            <a href="/staff/<%= staff._id %>" class="secondary-content">
              <i class="material-icons">preview</i>
              <i class="material-icons">edit</i>
              <i class="material-icons">delete</i>
            </a>
          </div>
        </li>
        <% }); } %>
      </ul>
    </div>
  </body>
</html>
