<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <h2>Student List</h2>
      <ul class="collection with-header">
        <% if(student.length > 0) { student.forEach(student => { %>
        <li class="collection-item">
          <div>
            <strong>ID:</strong> <%= student.Stud_ID %> <br /><strong>NAME:</strong> <%= student.stfname %>
            <a href="/students/<%= student._id %>" class="secondary-content">
              <i class="material-icons">preview</i>
              <i class="material-icons">edit</i>
              <i class="material-icons">delete</i>
            </a>
          </div>
        </li>
        <% }); } %>
      </ul>
    </div>
  </body>
</html>
