<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h4>Course Detail</h4>
      <div>
        <h5>Course ID: <%= course.course_ID %></h5>
        <h5>Course Description: <%= course.course_desc %></h5>
        <h5>Course Units: <%= course.units %></h5>
        <h5>Course Remarks: <%= course.course_remarks %></h5>
      </div>
    </div>
    <script>
      deleteBtn.onclick = function (e) {
        e.preventDefault();
        const id = e.target.getAttribute('data-id');

        const endpoint = `/courses/${id}`;
        fetch(endpoint, {
          method: 'DELETE',
        })
          .then((res) => res.json())
          .then((data) => {
            console.log('data', data);
            window.location.href = data.redirect;
          })
          .catch((err) => console.log(err));
      };
    </script>
  </body>
</html>
