<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h4>Course Detail</h4>
      <div>
        <h5>Course ID: <%= course.course_ID %></h5>
        <h5>Course Description: <%= course.course_desc %></h5>
        <h5>Course Units: <%= course.units %></h5>
        <h5>Course Remarks: <%= course.course_remarks %></h5>
      </div>
    </div>
  </body>
</html>
