<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h4>Staff Detail</h4>
      <div>
        <h5>Staff ID: <%= staff.staff_ID %></h5>
        <h5>Staff Name: <%= staff.fname %> <%= staff.lname %></h5>
        <h5>Staff Contact: <%= staff.contact %></h5>
        <h5>Staff Address: <%= staff.address %></h5>
        <h5>Staff Gender: <%= staff.gender %></h5>
      </div>
    </div>
  </body>
</html>
