<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h4>Student Detail</h4>
      <div>
        <h5>Student ID: <%= student.Stud_ID %></h5>
        <h5>Student Name: <%= student.stfname %> <%= student.stlname %></h5>
        <h5>Student Course: <%= student.stcourse %></h5>
        <h5>Student Year: <%= student.styear %></h5>
        <h5>Student Contact: <%= student.stcontact %></h5>
        <h5>Student Age: <%= student.stage %></h5>
      </div>
    </div>
  </body>
</html>
